# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Test

on:
  push:
    branches: [ "master", "1.5", "1.6" ]
  pull_request:
    branches: [ "master", "1.5", "1.6" ]

jobs:
  test15:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size=2g
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}

      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run test15
      env:
        NO_CYPRESS: true
  test15Fips:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size=2g
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}

      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run test15Fips
      env:
        NO_CYPRESS: true
  test15Https11:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size=2g
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}

      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run test15Https11
      env:
        NO_CYPRESS: true
  test15Https:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size=2g
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}

      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run test15Https
      env:
        NO_CYPRESS: true
  test15Https11Fips:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size=2g
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}

      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run test15Https11Fips
      env:
        NO_CYPRESS: true
  test15HttpsFips:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size=2g
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}

      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run test15HttpsFips
      env:
        NO_CYPRESS: true
